<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="BasicOfTestNG.Demo3"/>
      <class name="BasicOfTestNG.Demo4"/>
      <class name="BasicOfTestNG.Demo5"/>
      <class name="BasicOfTestNG.Demo"/>
      <class name="BasicOfTestNG.Demo6"/>
      <class name="BasicOfTestNG.Demo2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
